.app.dark {
  --bg-color: #251F99;
  --inverted-bg-color: #D1E0EC;
  --primary-color: #12E6A6;
  --secondary-color: #23b0db;
  --inverted-primary-color: #23aadb;
  --inverted-secondary-color: #23aadb;
}
