:root {
    --bg-color: #d1e0ec;
    --inverted-bg-color: #251f99;
    --primary-color: #23aadb;
    --secondary-color: #23b0db;
    --inverted-primary-color: #12e6a6;
    --inverted-secondary-color: #0c946c;
}
