:root {
  --bg-color: #D1E0EC;
  --inverted-bg-color: #251F99;

  --primary-color: #23aadb;
  --secondary-color: #23b0db;
  --inverted-primary-color: #12E6A6;
  --inverted-secondary-color: #0c946c;
}
